<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Name: <%= f.text_field :name %><br/>
  Race: <%= f.text_field :race %><br/>
  Genre: <%= f.text_field :genre_id %><br/>
  Player: <%= f.text_field :player %><br/>
  Align: <%= f.text_field :align %><br/>
  Background: <%= f.text_field :background %><br/>
  Strength: <%= f.text_field :str %><br/>
  Dexterity: <%= f.text_field :dex %><br/>
  Constitution: <%= f.text_field :con %><br/>
  Intelligence: <%= f.text_field :int %><br/>
  Wisdom: <%= f.text_field :wis %><br/>
  Charisma: <%= f.text_field :cha %><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
