<div id="page-content" class="header-clear">
  <div id="page-content-scroll"><!--Enables this element to be scrolled -->

    <div class="heading-strip bg-2">
      <h3>Characters</h3>
      <p>All your current characters</p>
      <div class="overlay dark-overlay"></div>
    </div>
    <div class="decoration decoration-margins"></div>

    <!--table>
    <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
    </table-->


    <div class="content full-top">
      <%= link_to 'Create New Character', new_character_path %>
      <br/>
      <div class="activity-page">
        <% @characters.each_with_index do |character, idx| %>
          <div class="activity-status one-half-responsive <% if idx.odd? %>last-column<% end %>">
            <a href="<%= url_for(character) %>"><img style="position:absolute;width:50px;height:50px;" src="\images\headshots\dwarf.png"/></a>
            <strong><%= link_to character.name, character , style: 'color:white;'%></strong>
            <em><%= character.race.name %> <%= character.genre.name %>, Level <%= character.level %></em>
            <div style="float:right;margin-top: -35px;font-size:12px;">Wrath of Souls</div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="decoration decoration-margins" style="height:0;"></div>

    <div class="footer footer-dark">
      <p class="copyright-text">Copyright <span id="copyright-year"></span>. All Rights Reserved.</p>
    </div>
  </div>
</div>