<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
<br/><br/>
Name: <%= @character.name %><br/>
Race: <%= @character.race.name %><br/>
Class: <%= @character.genre.name %><br/>
Player: <%= @character.player %><br/>
Align: <%= @character.align %><br/>
Background: <%= @character.background %><br/>
Exp: <%= @character.xp %><br/>
Level: <%= @character.level %><br/>
HP Start: <%= @character.genre.hp_start %><br/>
HP Max: <%= @character.hp_max %><br/>
HP: <%= @character.hp %><br/>
Strength: <%= @character.str %><br/>
Str Mod: <%= @character.str_mod %><br/>
Dexterity: <%= @character.dex %><br/>
Dex Mod: <%= @character.dex_mod %><br/>
Constitution: <%= @character.con %><br/>
Con Mod: <%= @character.con_mod %><br/>
Intelligence: <%= @character.int %><br/>
Int Mod: <%= @character.int_mod %><br/>
Wisdom: <%= @character.wis %><br/>
Wis Mod: <%= @character.wis_mod %><br/>
Charisma: <%= @character.cha %><br/>
Cha Mod: <%= @character.cha_mod %><br/>
Proficency: <%= @character.prof_bonus %><br/>